.userprofile-show
  %h3.userprofile-show__title
    = @userprofile.name1 + '様'
  .userprofile-show__btn
    = link_to "/", class: "userprofile-show__edit" do
      編集
    = link_to "/", class: "userprofile-show__delete" do
      削除

  .userprofile-show__addresses

  %table.userprofile-show__addresses
    %th
      %th 名前
      %td
        = @userprofile.name1
    %th
      %th フリガナ
      %td
        = @userprofile.name2
    %th
      %th 年齢
      %td
        = @userprofile.age
    %th
      %th 性別
      %td 
        = @userprofile.gender
    %th
      %th 血液型
      %td
        = @userprofile.blood_type
    %th
      %th 生年月日
      %td
        = @userprofile.birthday
    %th
      %th メール
      %td
        = @userprofile.mail
    %th
      %th 職業
      %td
        = @userprofile.business

  .userprofile-show__street
    住所
    .userprofile-show__street--road
      .userprofile-show__street--road--addresses
        = @userprofile.prefecture1
        = @userprofile.address1
      .userprofile-show__street--road--phone
        .userprofile-show__street--road--phone--home
          = @userprofile.phonenumber1
        .userprofile-show__street--road--phone--mobile
          = @userprofile.phonenumber2

    .userprofile-show__street--emergency-contact
      緊急連絡先
      .userprofile-show__street--emergency-contact--addresses
        = @userprofile.prefecture2
        = @userprofile.address2
      .userprofile-show__street--emergency-contact--phone
        .userprofile-show__street--emergency-contact--phone--home
          = @userprofile.phonenumber3
        .userprofile-show__street--emergency-contact--phone--mobile
          = @userprofile.phonenumber4
        
  %table.userprofile-show__insured-card
    被保険者証
    %th
      %th 番号
      %td
        = @userprofile.insured_number

    %th
      %th 記号
      %td
        = @userprofile.insured_key

    %th
      %th 交付年月日
      %td
        = @userprofile.delivery_date

    %th
      %th 有効期限
      %td
        = @userprofile.expiration_date

    %th
      %th 負担割合
      %td
        = @userprofile.burden
    %th
      %th 保険者番号
      %td
        = @userprofile.insurer_number
  .userprofile-show__remakes
    備考欄
    .userprofile-show__remakes--column
      = @userprofile.remarks
          